pandas==2.1.1        #for data manipulation
numpy==1.26.0          #for numerical computations
matplotlib==3.8.0       #for plotting charts
seaborn==0.12.2          #for advanced statistical visualizations
scikit-learn==1.3.0   #or all machine learning models and preprocessing
jupyterlab==4.2.0          # if running in JupyterLab
notebook==7.4.3            # if running in classic Jupyter Notebook
